.hover-box {
  position: absolute;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  background-color: white;
  border: 1px solid #ccc;
  padding: 12px 4px;
  width: 30vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  pointer-events: none; /* Ensure it doesn't interfere with mouse events */
}

.punchcontainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: space-between;
}

.punchcontainer > span {
  font-size: 12px;
  font-weight: 200;
  font-family: sans-serif;
}
