.dashboard {
  display: flex;
  flex-direction: column;
  flex: 5;
  gap: 36px;
  padding: 36px;
}
.dashtitle {
  display: flex;
  justify-content: space-between;
}
.dashtimedate {
  display: flex;
  border: 2px solid black;
  align-items: center;
  flex-direction: column;
  padding: 12px;
  border-radius: 5px;
}

.dashtime {
  font-size: 64px;
}
.dashtime > span {
  font-size: 14px;
  font-weight: bold;
}
.dashdate {
  font-size: 14px;
  font-weight: 300;
}

.dashtimedatestatus {
  display: flex;
  flex-direction: row;
  gap: 36px;
}
.statusline {
  border-bottom: 1px solid black;
}

.statuscapsulecontainer {
  display: flex;
  gap: 12px;
}

.dashstatus {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.statuscapsule {
  border-radius: 20px;
  padding: 8px;
}
