.profile {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 36px;
  font-family: 'Prompt';
  font-style: normal;
  width: 60%;
}
.profile > h1 {
  font-size: 24px;
  font-family: sans-serif;
  font-weight: 300;
}
