.LeaveDetails {
  position: absolute;
  top: 20%;
  left: 40%;
  padding: 12px;
  z-index: 100;
  background-color: #ffff;
  border-radius: 10px;
  border: 2px solid #000;
}

.topLeaveDetailsContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.leavetitlecontainer {
  display: flex;
  justify-content: space-between;
}

.leavetitlecontainer > a {
  margin-top: 0px;
  margin-right: 0px;
}
.leaveDetailsContent {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.leaveDetailsContent > input {
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #000;
}
.leavetitlestatus {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 36px;
  align-items: center;
}

.leavetitlestatus > a {
  top: 10px;
}

.stat {
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  color: #4982eb;
}

.leaveDtailsContent {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0px 36px;
}

.leaveDetailsContent > b {
  font-size: 16px;
  font-weight: 200;
}
.leavedetailsdate {
  display: flex;
  gap: 24px;
}

.leavedetailsdate > span {
  width: 15vh;
}

.leaveDtailsContent > input {
  min-height: 10vh;
  max-height: 15vh;
  padding: 8px;
  border: 1px solid #a8a8a8;
  border-radius: 5px;
  background-color: #dbe8ff;
}

.bottomLeaveDetailsContainer {
  display: flex;
  justify-content: space-between;
}

.bottomLeaveDetailsContainer > span {
  color: #888888;
}

.bottomLeaveDetailsContainer > button {
  color: #000;
  background-color: #fd5252;
  padding: 8px 24px;
  border-radius: 5px;
  border: none;
}

.bottomLeaveDetailsContainer > button:hover {
  scale: 1.05;
}

.actioncontainer {
  padding: 12px;
  display: flex;
  justify-content: center;
  gap: 20vh;
}

.actionbutton {
  font-weight: 300;
  padding: 10px 20px;
  width: 20vh;
  border-radius: 5px;
  border: none;
}
