.onleveContainer {
  display: flex;
  flex-direction: column;
}
.employeetab {
  display: flex;
  gap: 12px;
}
.onleveContainer {
  gap: 12px;
}
.nametab {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nametab > span:first-child {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.nametab > span:last-child {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  color: #afa8a8;
}

.employeetab:hover {
  scale: 1.02;
}
