.addemployeeContainer {
  padding: 36px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow-y: scroll;
  height: calc(100vh - 100px);
  width: 60%;
}

.addemployeeContainer > h1 {
  font-family: sans-serif;
  font-weight: 300;
  font-size: 24px;
}
