.forgetpassword {
  display: flex;
  background-color: #e3edff;
  height: 100vh;
  font-family: 'Prompt';
  font-style: normal;
}

.fpleft {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 36px;

  background-color: #ffffff;
  border-radius: 0px 20px 20px 0px;
}

.fpinputContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: space-between;
}

.fpinput {
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  width: 40vh;
  padding: 10px 10px;
}

.otpContainer {
  width: 95%;
  display: flex;
  justify-content: space-between;
}
.otpinput {
  border: 1px solid #d9d9d9;
  height: 4.5vh;
  width: 4.5vh;
  border-radius: 10px;
  padding: 10px;
}

.fpbutton {
  padding: 14px 30px;
  background: #4982eb;
  border-radius: 25px;
  color: #fff500;
  border: none;
}

.fpleft > button {
  cursor: pointer;
}

.fpleft > button:hover {
  scale: 1.05;
}
