.myteamContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 36px;
  width: 80%;
  height: calc(100vh - 100px);
  overflow-y: scroll;
}

.teamscontainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.addteambutton {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
}

.addteambutton > button {
  padding: 8px 12px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #6399fd;
  border-radius: 5px;
  border: none;
}

.addteambutton > input {
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
}
