.approvalStatus {
  padding: 10px;
  background-color: #30d14340;
  border-radius: 5px;
  color: #30d143;
}

.leverequestTableDashBoard {
  display: flex;
  flex-direction: column;
  height: 100%;
}

tbody {
  font-size: 16px;
}
