.myactions {
  display: flex;
  flex-direction: column;
  gap: 36px;
  padding: 36px;
}

.myactions > b {
  font-size: 24px;
  font-weight: 300;
  font-family: sans-serif;
}

.myactionlist {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 12px;
}
