/* Container to make the employee list scrollable */
.employeeListContainer {
  display: flex;
  flex-direction: column;
  max-height: 80vh; /* Adjust the height as needed */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 0px; /* Add some padding for better appearance */
  gap: 10px;
}

/* Employee list styles */
.employeeList {
  display: flex;
  padding: 12px 24px;
  justify-content: space-between;
  width: 80%;
  flex-wrap: wrap;
  background-color: #7c7e7f;
  color: #ffff;
}

.employeeList > span:last-child {
  cursor: pointer;
}

.employeeList > span > button {
  background-color: #7c7e7f;
  color: #ffff;
  border: none;
}

.employeeList:hover {
  transform: scale(1.01);
}

/* Container for employee details */
.emplyeeListDetailsContainer {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  padding: 12px;
  width: 85%;
}

/* Individual detail items */
.employeelistdetails {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 40vh;
  background-color: #ebf2ff;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
}

/* Date selector styles */
.dateSelector {
  display: flex;
  gap: 24px;
}
